
h1 {
		color: teal;
	}
	h2 {
		color: gold;
	}
.board {
height: 50%;
width: 50%;
display: inline-block;
  float: left;
}

.card {
height: 200px;
width: 150px;
border: 1px solid black;
background-color: yellow;
border-radius: 10px;
float: left;
margin: 8%;
}
body {
	text-align: center;
}
nav a {
background-color: #ffbf00;
padding: 35px;
float: left;
text-decoration: none;
display: block;
color: white;
}
nav {
	background-color: #808080;
	color: white;

}
nav a:hover { 
    background-color: #ee5f3c;
}
.content {
  width: 50%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

footer {
	clear: both;
  text-align: center;
	font-weight: bold;
	background-color: #808080;
}
span {
	color: #ff0000;


